<!-- <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['']">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/bikes/list']">Bikes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Accessories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Clothes</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" >Disabled</a>
  </li>
</ul> -->


<div class="wrapper">
  <div>
    <img src="/assets/images/The-Bike-Shop-Logo-200-slimC.png" alt="images" class="logo">
  </div>
  <div>
    In the bike shop you can find out bike, accessoaries and cloths for you favorite sport.
  </div>
</div>