<div>
    List of bikes
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td scope="col">Id</td>
            <td scope="col">Name
            <td scope="col">Details</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bike of bikes$ | async" mdbTableCol>
            <td>{{ bike.id }}</td>
            <td>{{ bike.name }}</td>
            <td>
                <a [routerLink]="['/bike', bike.id]">Go to details</a>
            </td>
        </tr>
    </tbody>
</table>

<p>
    <ngb-alert [dismissible]="false">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
  </p>