<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Bike Name</th>
            <th scope="col">Bike Model</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bike of bikesSlice; index as i">
            <th scope="row">{{ bike.index }}</th>
            <td scope="row">{{ bike.name }}</td>
            <td>
                {{ bike.model }}
            </td>
            <td>
                <a [routerLink]="['/bike', bike.id]">Go to details</a>
            </td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshBikes()">
    </ngb-pagination>
</div>