#list {
    text-align: center;
    font-size: 50px;
}
#bike-pagination {
    /* width: 300px; */
    float: left;
}
#bike-registration {
    float: right;
    /* padding-right: 100px; */
}