<div class="image">
    <img src="/assets/images/Handley-33_0.jpg" alt="images" class="logo">
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Book Name</th>
                <th scope="col">Book Author</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of booksSlice; index as i">
                <th scope="row">{{ book.index }}</th>
                <td scope="row">{{ book.title }}</td>
                <td>
                    {{ book.author }}
                </td>
                <td>
                    <a [routerLink]="['/book', book.id]"><button class="btn-primary" ngbButtonLabel>Go to
                            details</button></a>
                </td>
                <td *ngIf="userStoreSerivce.type == 1">
                    <div class="btn-group btn-group-toggle">
                        <!-- <label class="btn-primary" ngbButtonLabel>
                      <input type="button" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
                    </label> -->
                        <!-- <label class="btn-primary" ngbButtonLabel> -->
                        <button class="btn btn-danger" ngbButtonLabel
                            (click)="deleteBook(book)">Delete</button>
                        <!-- </label> -->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


    <div id="book-pagination" class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refreshBooks()">
        </ngb-pagination>
    </div>

    <div *ngIf="userStoreSerivce.type == 1" id="book-registration">
        <a [routerLink]="['/book/registration']" routerLinkActive='active'><button class="btn-primary"
                ngbButtonLabel>Register Book</button></a>
    </div>
</div>