#list {
    text-align: center;
    font-size: 50px;
}
#book-pagination {
    /* width: 300px; */
    float: left;
}
#book-registration {
    float: right;
    /* padding-right: 100px; */
}
img {
    height: 300px;
    width: -moz-available;
    padding: .5rem 1rem;
}

@media screen and (max-width: 600px) {
    img {
        display: none;    
    }
}